<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewUser</title>
</head>
<body>

<h1>Users</h1>
<table>
    <tr>
        <th>id</th>
        <th>username</th>
        <th>password</th>
        <th>name</th>
        <th>lastName</th>
        <th>role</th>
        <th>action</th>

    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getRoles()}"></td>
        <td>
            <a th:href="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">EditPage</a>
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
                <button class="btn btn-dark" type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>

<h1>Add</h1>
<p>
    <a href="/admin/add">Add new user</a>
</p>

<h1>Exit</h1>
<form th:action="@{/logout}" method="get">
    <input type="submit" value="exit"/>
</form>

</body>
</html>